@import "highlight"

body
  /*font-family Consolas, Monaco, 'Andale Mono', 'Ubuntu Mono', monospace*/
  -webkit-font-smoothing antialiased
  display flex
  flex-flow column
  min-height 100vh
  height 100vh
  font-weight 300

h1,h2,h3,h4,h5,h6
  margin 3rem 0
  font-weight 300

a
  color: #2b3dc3

.content
  flex 1
  font-size 1.4rem
  line-height 1.7375
  letter-spacing 0.018em
  /*font-weight 300*/
  margin 0 auto
  width 42%
  animation myMove 1s
  animation-fill-mode forwards
  img
    max-width 100%

.header
  margin-top 20vh
  text-align center
  h3
    margin 2rem 0
    font-size 3.4rem
  > a
    position relative
    margin 1rem 1rem 0
    display inline-block
    font-family sans-serif
    font-size 1.5rem
    font-weight 300
      
  &__title
    img
      width 9rem
      height 9rem
      border-radius 50%
    h3
      letter-spacing .1em
.content
  .post-header
    display flex
    justify-content space-between
    align-items center
    .jump
      display flex
      align-items center
      color #777
      font-size 13px
      text-decoration none
      transition all .3s linear
      >img
        margin-right .3rem
        width 1.3rem      
        transition all .3s linear;
    .jump:hover
      >img
        margin-right 1rem
.footer
  text-align center
  color #999
  margin 0 auto
  font-size 1.2rem
  letter-spacing 0.03em
  width 100%
  height 5%
  left 0
  padding-top 2rem
  padding-bottom 2rem
  a
    color #555
.post
  width 55%
  .author-info img
    width 4.5rem
    height 4.5rem
.post-title-wrapper
  margin-top 0
  margin-bottom 1%

.post-title
  margin 0
  color #333
  text-decoration none
  font-size 2.8rem

.post-date
  margin-bottom 2rem
  padding-bottom .8rem
  color #999
  border-bottom 1px dashed #ddd
  font-size 1.3rem
  p
    margin 0 .8rem 0 0
    display inline-block
    a
      text-decoration:none
    a:hover
      color #e71

.post-content
  h1,h2,h3,h4,h5,h6
    margin-top: 1.2rem
    margin-bottom: 1rem
  a
    text-decoration:none
  a:hover
    color #e71
  > table
    table-layout: fixed
    padding 0
    text-align left
    border-spacing 0
    width 85%
    border-left 1px solid #eee
    thead
      tr
        th
          padding .6rem 1rem
          border-bottom 1px solid #eee
          border-right 1px solid #eee
          border-top 1px solid #eee
    tbody
      tr
        td
          padding .5rem 1rem
          border-bottom 1px solid #eee
          border-right 1px solid #eee
  ul
    list-style bengali

.author-info
  margin-top 4%
  margin-bottom 2%
  a
    position relative
    display inline-block
    vertical-align middle
  img
    width 5rem
    height 5rem
    border-radius 50%
  .info
    display inline-block
    margin-left 1.5rem
    vertical-align middle
    .name
      margin 0
      font-size 2.2rem
      letter-spacing .1em
    .slogan
      margin-top .04rem
      color #777

.post
  .author-info
    a:after
      content ""
      position absolute
      width 3px
      height 30px
      top -30px
      left 50%
      background #eee

.archive-item
  border-bottom 1px dashed #ddd
  div
    padding 1.6% 1%
    // transition all 1s linear
  &__link
    color #000
    text-decoration none
    &__time
      letter-spacing -0.02em
      display inline-block
      float right
      color #999
      font-size 1.3rem
    &__title:hover
      color #2b3dc3
      text-decoration none    

.page-navigator
  margin-top 3%
.page-number,.prev
  margin-right 1rem
  font-size 1.4rem

@media screen and (max-width 1024px)
  .post,.content
    width 60%

@media screen and (max-width 768px)
  .post,.content
    width 96%
  .archive-item__link__time
    display none
  .archive-item__link__title
    margin-left 0
  .header > a
    margin-right 5px

@keyframes myMove
  from
    opacity 0
  to
    opacity 1
