extends includes/layout


block content
  div.content
    .author-info.post-header
        a(href="/archives/" title="返回列表页")
          img(src="/images/icon_face.jpg")
        a.jump(href="#" title="返回列表页" onclick="history.back(-1)") 
          img(src="/images/icon-back.svg")
          span 返回
    h4.post-title-wrapper
        p.post-title=page.title
    if page.date && page.source !== 'about/index.md'
        div.post-date
          p Author:
            a(href="/about")=config.title
          p Date:
            time(datetime=page.date.toJSON())=date(page.date, date_format)
    .post-content!= page.content
