extends includes/layout


block content
  div.content
    .author-info
        a(href="/archives/" title="返回列表页")
          img(src="/images/icon_face.jpg")
    h4.post-title-wrapper
        p.post-title=page.title
    if page.date && page.source !== 'about/index.md'
        div.post-date
          p
            a(href="/about")=config.title
          p 发表于
            time(datetime=page.date.toJSON())=date(page.date, date_format)
    .post-content!= page.content
