extends includes/layout


block content
  div.content.post
    .author-info
        a(href="/archives/")
          img(src="/images/icon_face.jpg")
    h3.post-title-wrapper
        p.post-title=page.title
    if page.date && page.source !== 'about/index.md'
        div.post-date
          p author：
            span=config.title
          p data：
            time(datetime=page.date.toJSON())=date(page.date, date_format)
    .post-content!= page.content
