<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
	<%-css('css/style.css') %>
	<title><%=config.title%></title>
	<style type="text/css">
	body{
		color: blue;
	}
	</style>
</head>